///////////
// CHART //
///////////

canvas {
  width: 100%;
  height: auto;
}

////////////////////////
// PROBABILITY SLIDER //
////////////////////////

#probability-slider {
  text-align: center;
  margin-top: 10px;
}

.control-label {
  text-align: center !important;
}
